package initialize

import (
	"context"
	model "DYCLOUD/model/system"
	"DYCLOUD/plugin/plugin-tool/utils"
)

func Menu(ctx context.Context) {
	entities := []model.SysBaseMenu{}
	utils.RegisterMenus(entities...)
}
